---
import TerminalLayout from '../layouts/TerminalLayout.astro';
---

<style>
.contact-form {
  display: block;
  margin-top: 1rem;
  font-size: 1rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: #222;
  color: white;
  border: 1px solid #555;
  border-radius: 4px;
  font-family: "Monaco", monospace;
}

.contact-form button {
  background-color: #28c840;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
  font-family: "Monaco", monospace;
}

.contact-form button:hover {
  background-color: #3cb853;
}

a {
    color:#28c840;
}

</style>


<TerminalLayout title="Contact Me">
  You can reach out to me via the following platforms:
  <a href="#">- GitHub: github.com/xxx]</a><br>
    <a href="#">- LinkedIn: linkedin.com/in/xxx</a><br>
    <a href="#">- Email: xxx@example.com</a>

  <br /><br />

  Alternatively, feel free to drop me a message via this form:
  
  <form action="#" method="POST" class="contact-form">
    <label for="name">Name:</label><br /><br />
    <input type="text" id="name" name="name" required /><br /><br />
    
    <label for="email">Email:</label><br /><br />
    <input type="email" id="email" name="email" required /><br /><br />
    
    <label for="message">Message:</label><br /><br />
    <textarea id="message" name="message" rows="5" required></textarea><br /><br />
    
    <button type="submit">Send</button>
  </form>
</TerminalLayout>