---
import TerminalLayout from '../layouts/TerminalLayout.astro';
---

<TerminalLayout title="Portfolio Terminal">
  Welcome to my portfolio! Type commands to navigate:
  <br /> <br />
  Type `<span id="command">whoami</span>` for more information about me.
  <br />
  Type `<span id="command">projects</span>` to see my projects.
  <br />
  Type `<span id="command">skills</span>` to view my skills.
  <br />
  Type `<span id="command">education</span>` to view my education.
  <br />
  Type `<span id="command">courses</span>` to view my courses.
  <br />
  Type `<span id="command">hobbies</span>` to view my courses.
  <br />
  Type `<span id="command">contact</span>` to get in touch.<br>
</TerminalLayout>