---
import TerminalLayout from "../layouts/TerminalLayout.astro";
---

<TerminalLayout title="Portfolio Terminal">
  Welcome to my portfolio! Type commands to navigate:
  <br />
  <br />
  Type `<a href="/whoami"><span id="command">whoami</span></a>` for more
  information about me.
  <br />
  Type `<a href="/experience"><span id="command">experience</span></a>` for more
  information about me.
  <br />
  Type `<a href="/projects"><span id="command">projects</span></a>` to see my
  projects.
  <br />
  Type `<a href="/skills"><span id="command">skills</span></a>` to view my
  skills.
  <br />
  Type `<a href="/education"><span id="command">education</span></a>` to view my
  education.
  <br />
  Type `<a href="/courses"><span id="command">courses</span></a>` to view my
  courses.
  <br />
  Type `<a href="/hobbies"><span id="command">hobbies</span></a>` to view my
  courses.
  <br />
  Type `<a href="/contact"><span id="command">contact</span></a>` to get in
  touch.<br />
</TerminalLayout>
